<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="/javascripts/common.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <h1>{{message}}</h1>
  <h2>{{error.status}}</h2>
  <pre>
  {{ error.stack }}
  </pre>
</body>
</html>

