body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.playground {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

.controlItem {
  margin-bottom: 20px;
}

hr {
  width: 100%;
  border-color: black;
  margin: 20px 0;
}

button {
   margin: 20px 0;
  align-self: flex-start;
}